body {
  background-color: #777;
  color: #000;
}

#container {
  background: #fff;
  width: 550px;
  height: 400px;
  margin: 0 auto;
  border: 2px solid blue;
  border-radius: 25%;
  padding: 3em 3em 3em 3em;
  text-align: center;
}
